body {
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #62C0FF;
}

a:hover {
    color: #3C8CDD;
}

a:visited {
    color: #113676;
}

a:active {
    color: #0C1332;
}

.text {
    align-self: center;
    /* height: 150px; */
    margin: 14px 1px 14px 0;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 40% 0;
    justify-content: left;
}

.card {
    width: 400px;
    padding: 10px;
    background: #1658BA;
    text-align: center;
    color: #62C0FF;
}

.underline {
    border-bottom: 6px solid #62C0FF;
    padding: 0 0 10px 0;
    display: flex;
    column-gap: 18px;
}

